@{
    ViewData["title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Đồ_án.Areas.Admin.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/daodiennguoidung/thongbao.css">
    <title>Index</title>
    <style>
        tr.detail-row {
            display: none;
        }

            tr.detail-row.open {
                display: table-row;
            }

        .table-detail {
            background-color: #fff;
            border: 1px solid #dcebf7;
            width: 100%;
            padding: 12px;
        }

    </style>
</head>
<body>
    <div class="main-content-inner">
        <div class="page-content">
            <div class="row">
                <div class="col-sm-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="header-cell" style="width: 50px; font-weight: bold;">STT</th>
                                <th class="header-cell detail-col" style="font-weight: bold;">Tiêu đề</th>
                                <th class="header-cell" style="width: 200px; font-weight: bold;">Ngày thông báo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @foreach (ThongBao tb in ViewBag.ThongBao)
                            {
                                <tr style="background-color: ">
                                    <th>@i</th>
                                    <th>
                                        <span>
                                            <a data-bs-toggle="modal" class="Noti" data-bs-target="@("#DetailsThongBao-"+tb.Id)" data-bs-url="@Url.Action($"Details/{tb.Id}")">@tb.tieuDe</a>
@*                                            <button type="button" data-toggle="modal" data-target="@("#DetailsThongBao-"+tb.Id)" data-url="@Url.Action($"Details/{tb.Id}")">
                                                @tb.tieuDe
                                             </button>*@
                                            @await Html.PartialAsync("_ThongBaoPartialView",tb)
                                        </span>
                                    </th>
                                    <th>
                                        <span>@tb.ngayDang.ToString("dd/MM/yyyy")</span>
                                    </th>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
