@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}
@model X.PagedList.IPagedList<Đồ_án.Areas.Admin.Models.DienNuoc>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@{
	var options = new PagedListRenderOptions()
			{
				LiElementClasses = new string[] { "page-item" },
				PageClasses = new string[] { "page-link" },
				UlElementClasses = new string[] { "pagination justify-content-center" }
			};
}
<div class="xp-searchbar" style="margin: -18px 15px 5px;">
	<form>
		<div class="input-group" style="width: 330px;">
			<input type="search" class="form-control"
				   placeholder="Search">
			<div class="input-group-append">
				<button class="btn" type="submit" id="button-addon2">
					Go
				</button>
			</div>
		</div>
	</form>
</div>
<div class="col-md-12">
	<div class="table-wrapper">

		<div class="table-title">
			<div class="row">
				<div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
					<h2 class="ml-lg-2">Danh sách điện nước</h2>
				</div>
				<div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
					<a asp-action="Create" asp-controller="DienNuoc" class="btn btn-success">
						<i class="material-icons">&#xE147;</i>
						<span>Thêm Điện nước</span>
					</a>
				</div>
			</div>
		</div>

		<table class="table table-striped table-hover">

			<thead>
				<tr>
					<th>ID</th>
					<th>Tên phòng</th>
					<th>Thời gian ghi hóa đơn</th>
					<th>Lượng điện tiêu thụ</th>
					<th>Giá điện</th>
					<th>Lượng nước tiêu thụ</th>
					<th>Giá Nước</th>
				</tr>
			</thead>

			<tbody>
				@foreach (DienNuoc tk in Model)
				{

					<tr>
						<th>@tk.Id</th>
						<th>@tk.phong.tenPhong</th>
						<th>@tk.thoiGianHoaDon.ToString("dd-MM-yyyy")</th>
						<th>@tk.dienTieuThu</th>
						<th>@string.Format("{0:N0} đ", @tk.giaDien)</th>
						<th>@tk.nuocTieuThu</th>
						<th>@string.Format("{0:N0} đ", @tk.giaNuoc)</th>
						<th>
							<div class="d-flex justify-content-center align-items-center">
								<a class="edit" asp-action="Update" asp-controller="DienNuoc" asp-route-id="@tk.Id">
									<i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
								</a>
								<form method="post" asp-action="Delete" asp-controller="DienNuoc" asp-route-id="@tk.Id">
									<button type="submit" class="delete bg-transparent border-0">
										<i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
									</button>
								</form>

							</div>

						</th>
					</tr>
				}


			</tbody>


		</table>
		<div class="">
			@Html.PagedListPager(Model, page => Url.Action("Index", "DienNuoc", new {page = page}),options)
		</div>
	</div>
</div>



