@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}
@model X.PagedList.IPagedList<Đồ_án.Areas.Admin.Models.DayTro>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@{
	var options = new PagedListRenderOptions()
			{
				LiElementClasses = new string[] { "page-item" },
				PageClasses = new string[] { "page-link" },
				UlElementClasses = new string[] { "pagination justify-content-center" }
			};
}

<div class="xp-searchbar" style="margin: -18px 15px 5px;">
	<form>
		<div class="input-group" style="width: 330px;">
			<input type="search" class="form-control"
				   placeholder="Search">
			<div class="input-group-append">
				<button class="btn" type="submit" id="button-addon2">
					Go
				</button>
			</div>
		</div>
	</form>
</div>
<div class="col-md-12">
	<div class="table-wrapper">

		<div class="table-title">
			<div class="row">
				<div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
					<h2 class="ml-lg-2">Danh sách dãy trọ</h2>
				</div>
				<div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
					<a asp-action="Create" asp-controller="DayTro" class="btn btn-success">
						<i class="material-icons">&#xE147;</i>
						<span>Thêm dãy trọ</span>
					</a>
				</div>
			</div>
		</div>

		<table class="table table-striped table-hover">

			<thead>
				<tr>
					<th class="text-center col-5">Tên dãy trọ</th>
					<th class="text-center col-4">số lượng phòng</th>
				</tr>
			</thead>

			<tbody>
				@foreach (DayTro tk in Model)
				{

					<tr>
						<th class="text-center">@tk.tenDayTro</th>
						<th class="text-center">@tk.soLuongPhong</th>
						<th>
							<div class="d-flex justify-content-center align-items-center">
								<a class="edit" asp-action="Update" asp-controller="DayTro" asp-route-id="@tk.Id">
									<i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
								</a>
								<form method="post" asp-action="Delete" asp-controller="DayTro" asp-route-id="@tk.Id">
									<button type="submit" class="delete bg-transparent border-0">
										<i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
									</button>
								</form>

							</div>

						</th>
					</tr>
				}
			</tbody>


		</table>
		<div class="">
			@Html.PagedListPager(Model, page => Url.Action("Index", "DayTro", new {page = page}),options)
		</div>
	</div>
</div>



