@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}
@model X.PagedList.IPagedList<Đồ_án.Areas.Admin.Models.Phong>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@{
	var options = new PagedListRenderOptions()
			{
				LiElementClasses = new string[] { "page-item" },
				PageClasses = new string[] { "page-link" },
				UlElementClasses = new string[] { "pagination justify-content-center" }
			};
}
<div class="xp-searchbar" style="margin: -18px 15px 5px;">
	<form method="post" asp-action="Search" class="search-form">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">Loại phòng</span>
			</div>
			<select class="form-control" asp-items="ViewBag.loaiPhong" name="tenLoaiPhong">
				<option value="" selected>Tất cả</option>
			</select>
			<div class="input-group-prepend">
				<span class="input-group-text">Dãy trọ</span>
			</div>
			<select class="form-control" asp-items="ViewBag.dayTro" name="tenDayTro">
				<option value="" selected>Tất cả</option>
			</select>
			<div class="input-group-prepend">
				<span class="input-group-text">Trạng thái</span>
			</div>
			<select class="form-control" name="trangThai">
				<option value="null" selected>Tất cả</option>
				<option value="true">Phòng trống</option>
				<option value="false">Phòng đã có người</option>
			</select>
			<input type="search" class="form-control" placeholder="Tìm kiếm">
			<div class="input-group-append">
				<button class="btn btn-primary" type="submit" id="button-addon2">
					Tìm kiếm
				</button>
			</div>
		</div>
	</form>
</div>
<div class="col-md-12">
	<div class="table-wrapper">

		<div class="table-title">
			<div class="row">
				<div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
					<h2 class="ml-lg-2">Danh sách phòng</h2>
				</div>
				<div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
					<a asp-action="Create" asp-controller="Phong" class="btn btn-success">
						<i class="material-icons">&#xE147;</i>
						<span>Thêm phòng</span>
					</a>
				</div>
			</div>
		</div>

		<table class="table table-striped table-hover">

			<thead>
				<tr>
					<th>ID</th>
					<th>Tên phòng</th>
					<th>Loại phòng</th>
					<th>Trạng thái</th>
					<th>Dãy trọ</th>
				</tr>
			</thead>

			<tbody>
				@foreach (Phong tk in Model)
				{

					<tr>
						<th>@tk.Id</th>
						<th>@tk.tenPhong</th>
						<th>@tk.loaiPhong.tenLoaiPhong</th>
						@if(tk.conPhong == true)
						{
							<th class="text-danger">trống (@tk.SoNguoiDangO/@tk.loaiPhong.soNguoi)</th>
						}
						else
						{
							<th>
								<form method="post" asp-action="Result" asp-controller="NguoiThue" asp-route-id="@tk.Id">
									<button class="text-success border-0 p-0 bg-transparent" type="submit">
										Đã có người (@tk.SoNguoiDangO/@tk.loaiPhong.soNguoi)
									</button>
								</form>
							</th>
						}
						<th>@tk.dayTro.tenDayTro</th>
						<th>
							<div class="d-flex justify-content-center align-items-center">
								<a class="edit" asp-action="Update" asp-controller="Phong" asp-route-id="@tk.Id">
									<i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
								</a>
								<form method="post" asp-action="Delete" asp-controller="Phong" asp-route-id="@tk.Id">
									<button type="submit" class="delete bg-transparent border-0">
										<i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
									</button>
								</form>

							</div>

						</th>
					</tr>
				}


			</tbody>


		</table>
		<div class="">
			@Html.PagedListPager(Model, page => Url.Action("Index", "Phong", new {page = page}),options)
		</div>
	</div>
</div>



